@import "tailwindcss";

@keyframes gentle-zoom-pan {
  0% {
    transform: scale(1.02) translate(0px, 0px);
  }
  50% {
    transform: scale(1.10) translate(-8px, -4px);
  }
  100% {
    transform: scale(1.02) translate(0px, 0px);
  }
}

.animate-gentle-zoom {
  animation: gentle-zoom-pan 20s ease-in-out infinite;
}
